<div class="btn-group navigation" role="group" aria-label="...">
  <a class="btn btn-default" href="/" role="button">Home</a>
  <a class="btn btn-default" href="/alarm" role="button">Alarm</a>
  <button id="light" type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-lamp" aria-hidden="true"></span>
  </button>
</div>